 body{
  margin: 0;
}
.nav-Bar{
  background-color: rgb(32, 31, 31);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.navBar-img{
  width: 35px;
  padding: 8px 10px;
  height: 35px;
}
.navBar-headings{
  margin-left: 16px;
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
}
li a{
  margin: 0;
  padding: 0;
}
li a, .drop-btn{
  /* margin: 0;
  padding-bottom: 0; */
  display: inline-block;
  padding: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
li a:hover, .dropdown:hover .drop-btn{
  background-color: rgb(88, 86, 86);
  
}
li.dropdown{
  display: inline-block;
}
.navBar-dropcontent{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
  z-index: 1;
  min-width: 120px;
  background-color: rgb(182, 196, 191);
}
.navBar-dropcontent a{
  color: black;
  padding: 12px 14px; 
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1;
}
.navBar-dropcontent a:hover {
  background-color: rgb(39, 216, 148);
}
.dropdown:hover .navBar-dropcontent{
  display: block;
} 
.navBar-icons{
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.navBar-spaces{
  display: flex;
  padding: 8px 16px;
  /* margin: 10px; */
}
.navBar-bootcamp{
  align-items: center;
  padding: 8px 16px;
}
.navBar-gifts{
  padding: 8px 16px;
  align-items: center;
}
.navBar-bootcamp:hover{
  background-color: rgb(91, 94, 93);
  border-radius: 20px;
  cursor: pointer;
}
.navBar-gifts:hover{
  background-color: rgb(91, 94, 93);
  border-radius: 20px;
  cursor: pointer;
}
.navBar-star,
.navBar-space{
  width: 13px;
  height: 13px;
  margin-left: 3px;
}
.navBar-text{
  color: white;
  margin-left: 3px;
  font-size: 18px;
} 
.btn-container {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  background-color: rgb(247, 238, 238);
}
.sign-btn {
  color: white;
  border: none;
  text-decoration: none;
  padding: 15px 30px;
  cursor: pointer;
  background-color: rgb(45, 206, 152);
  border-radius: 25px;
}
.login-btn{
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 20px;
}
.login-btn:hover {
  background-color: rgb(39, 216, 148);
  color: white;
  border-radius: 20px;
}


 
