 body{
  margin: 0;
}
.nav-Bar{
  background-color: rgb(32, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-img{
  width: 40px;
  height: 40px;
  margin: 15px 0px 10px 20px;
}
.navBar-headings{
  display: flex;
}
.navBar-ul{
  list-style-type: none;
}
li {
  float: left;
  color: white;
}
li a, .drop-btn{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
}
li a:hover, .dropdown:hover .drop-btn{
  background-color: rgb(88, 86, 86);
}
li.dropdown{
  display: inline-block;
}
.navBar-dropcontent{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
  z-index: 1;
  min-width: 120px;
}
.navBar-dropcontent a{
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navBar-dropcontent a:hover {
  background-color: rgb(39, 216, 148);
}
.dropdown:hover .navBar-dropcontent{
  display: block;
}
.navBar-icons{
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.navBar-spaces{
  display: flex;
}
.navBar-star,
.navBar-space{
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.navBar-text{
  color: white;
  margin-right: 30px;
} 
.navBar-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: red;
}
.sign-btn {
  color: white;
  border: none;
  text-decoration: none;
  padding: 15px 20px;
  cursor: pointer;
  background-color: rgb(45, 206, 152);
}
.login-btn{
  color: black;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: rgb(39, 216, 148);
  color: white;
}


 
