$nav-foot: #3A3A3A;
$background-main: #252525;
$row1-back:#8AC4E44D;
$row1-eye:#8AC4E4;
$row2-back: #5f4744;
$row2-eye:#E7968B;
$row3-back: #544326;
$row3-eye: #C28828;
$gradient:linear-gradient(180deg, #A36F1A 0%, #593700 100%);
$fontfamily: Arial, Helvetica, sans-serif;
$color:#FFFFFF;
$btn-clr: #D3A341;