body{
  background-color: rgb(41, 40, 40);
  margin: 0;
}
.nav-bar{
  position: relative;
  border-top: 1px rgb(229, 229, 235);
  background-color: rgb(71, 61, 61);
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: 65px;
  z-index: 2;
  top: 0;
}
.nav-title{
  width: 120px;
  margin: 10px 30px 10px 120px;
}
.nav-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
}
.nav-profilepic{
  width: 35px;
  margin-right: 15px;
  margin-top: 5px;
}
.nav-text{
  margin-top: 0px;
  color: antiquewhite;
  margin-right: 40px;
  font-size: 14px;
}
.profile-btn{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-button{
  letter-spacing: 1px;
  margin-top: 25px;
  z-index: 1;
  position: absolute;
  border-radius: 20px;
  border: none;
  background-color: rgb(216, 149, 24);
  color: rgb(236, 233, 228);
  width: 79px;
  padding: 2px;
}
.standard-section{
  width: 84%;
  background-color: rgb(79, 104, 96);
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 10px;
  height: 300px;
  padding-bottom: 5px;
}

.standard-nav {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(134, 79, 24);
}

.standard-nav hr {
  width: 280px;
  border: 1px;
  border-top: 2px solid #e9e0e0;
}

.standard-nav span {
  padding: 0 10px;
  color: #faf7f7;
  font-weight:bolder;
  letter-spacing: 4px;
}

.standard-left,
.standard-right {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.pokemon-cards{
  display: flex;
  overflow: auto;
  padding-top: 25px;
  padding-right: 80px;
  padding-left: 80px;
}
.pokemon-cards:last-child{
  margin: 0px;
}
.pokemon-cards::-webkit-scrollbar {
  width: 0.5em;
}

.pokemon-cards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.pokemon-cards::-webkit-scrollbar-track {
  background-color: transparent;
}
/*
 .pokemon-card > .whole-cardcontent {
  margin: -10px;
} */
.whole-cardcontent{
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  padding: 13px;
}
.pokemon-card{
  background-color: rgb(241,231,231);
  width: 150px;
  height: 160px;
  border-radius: 10px;
  position: relative;
}
.card-content{
  width: 35px;
  margin-top: 15px;
  padding: 4px;
  display: flex;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(88, 177, 177);
  right: 0px;
  position: absolute;
}
.pokemon-eye{
  width: 15px;
}
.pokemon-number{
  font-weight: 500;
  font-size: 11px;
  color: rgb(235, 227, 227);
  margin-left: 3px;
}
.pokemoncard-img{
  width: 150px;
  margin-top: 32px;
}
.machine-span{
  letter-spacing: 1px;
  margin-top: 8px;
  color: white;
  display: flex;
  justify-content: center;
}
.card-content2{
  width: 35px;
  margin-top: 15px;
  padding: 4px;
  display: flex;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(192, 166, 16);
  right: 0px;
  position: absolute;
}
.card-content3{
  width: 35px;
  margin-top: 15px;
  padding: 4px;
  display: flex;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(231, 178, 30);
  right: 0px;
  position: absolute;
}
.expensive-section1{
  width: 84%;
  background-color: rgb(109, 84, 60);
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 10px;
  height: 300px;
  padding-bottom: 5px;
}
.expensive-section2{
  width: 84%;
  background-color: rgb(139, 92, 44);
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 10px;
  height: 300px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}
.footer{
  background-color: rgb(58, 56, 56);
  padding: 8px;
  text-align: center;
  position: sticky;
  bottom: 0;
}
.footer-text{
  color: antiquewhite;
  font-size: 10px ;
  opacity: .5;
  letter-spacing: 1px;
}